<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
              <img src="./assets/img/logo.png" style="width: 160px;margin-top: -57px;">
            </a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="#home">Home</a></li>
                <li class=""><a href="#about">About</a></li>
                <li><a href="#experiences">Profile</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#resume">Resume</a></li>
            </ul>
        </div>
    </div>
  </nav>
</div>
<div class="banner" id="home">
 <h1 class="content">Sharathkumar N</h1>
 <hr style="width: 50%;">
 <p class="designation">Junior Web Developer</p>
</div>
<div id="about" class="container1">
  <h2 style="text-align: center; color:#6b879f;">Profile</h2>
  <p class="lead" style="text-align: center;">I'm a creative PHP webdeveloper</p>
  <hr>
  <div class="row">
      <div class="col-md-4">
              <h3 style="color:#6b879f;">About me</h3>
              <p style="font-family: 'Open Sans', sans-serif !important;"> I did my computer science engineering in the panimalar institute of technology with an overall CGPA of 8.04. I'm working in an IT company as a junior web developer with 11 months of experience. My role is to develop a website(both frontend and backend)based on the client requirements. I use PHP and SQL for the backend process. I develop frontend using HTML, CSS, javascript, jquery, bootstrap. And I also provide technical support for the client whenever they required  and also I provide end to end unit testing. I'm certified in UI path automation training program.</p>
      </div>
      <div class="col-md-4 text-center" >
          <img src="./assets/img/sharath.jpeg" alt="Sharathkumar" width="246" style="margin-top: 28px;">
      </div>
      <div class="col-md-4">
          <h3 style="color:#6b879f; font-family: 'Open Sans', sans-serif !important;">Details</h3>
          <p>
              <strong>Name:</strong><br>
              Sharathkumar N<br>
              <strong>Age:</strong><br>
              22 years<br>
              <strong>Address:</strong><br>
              No-21,2nd cross street,<br>Naangu theruvar thoppu,<br>Pillayarpalayam,<br>Kanchipuram-631501		    
          </p>
      </div>
  </div>
</div>
<div id="experiences" class="container2" style="background-color: #f3efe0;width: 100%;">
      <h2 style="text-align: center; color:#6b879f;padding-top: 20px;">Experiences</h2>
      <hr style="margin: 40px 0px;border-color: #727878;opacity: 0.2;">
      <h3 style="text-align: center; color:#6b879f;">Education</h3>
      <div class="experiences">                              
          <div class="experience row">
                  <div class="col-md-6">
                      <h4>Bachelor of Computer Science and Engineering</h4>
                      <p class="experience-period">
                          Aug 2013				- 
                          May 2017			
                      </p>
                  </div>
              <div class="col-md-6" style="margin-top: 10px;">
                  <p>
                      <strong>Panimalar Institute of Technology, Poonamallee</strong><br>
                      <span class="hidden-phone">
                              I graduated college in 2017, and my passion for the web technologies where started in the final year. I prefer to go with web technologies rather than Java,C,C++ etc. I finished my graduation with overall CGPA of 8.04.			
                      </span>  
                  </p>
              </div>
          </div>             
          <div class="experience row">
              <div class="col-md-6">
                  <h4>Higher Secondary Certificate</h4>
                  <p class="experience-period">
                      Jun 2012				- 
                      May 2013			
                  </p>
              </div>
              <div class="col-md-6" style="margin-top: 7px;">
                  <p>
                      <strong>S.S.K.V.Matriculation Higher Secondary School, Kanchipuram</strong><br>
                      <span class="hidden-phone">
                          I graduated highschool, where I enjoyed doing Computer science, math, chemistry. I passed my final examination with 88.5% percentage.				
                      </span>
                  </p>
              </div>
          </div>
          <div class="experience row">
                  <div class="col-md-6">
                      <h4>Secondary School Certificate </h4>
                      <p class="experience-period">
                          Jun 2010				- 
                          May 2011			
                      </p>
                  </div>
                  <div class="col-md-6" style="margin-top: 7px;">
                      <p>
                          <strong>S.S.K.V.Matriculation Higher Secondary School,Kanchipuram</strong><br>
                          <span class="hidden-phone">
                                  I passed my final examination with 87.4% percentage.			
                          </span>
                      </p>
                  </div>
              </div>
      </div>
      <hr style="margin: 40px 0px;border-color: #727878;opacity: 0.2;">
      <h3 style="text-align: center; color:#6b879f;">Career</h3>
      <div class="experiences">               
          <div class="experience row">
              <div class="col-md-6">
                  <h4>EProdix It Solutions Pvt Ltd</h4>
                  <p class="experience-period">
                      Jul 2017				- 
                      Present			
                  </p>
              </div>
              <div class="col-md-6" style="margin-top: 7px;">
                  <p>
                      <strong>Junior Web Developer</strong><br>
                      <span class="hidden-phone">
                          I'm working in an IT company as a <strong>Junior Web Developer</strong> with 11 months of experience. My role is to develop a website(both frontend and backend)based on the client requirements. I use PHP and SQL for the backend process. I develop frontend using HTML, CSS, javascript, jquery, bootstrap. I used to test each module when the task is completed. And I also provide technical support for the client whenever they required. I'm certified in UI path automation training program.
                      </span>
                  </p>
              </div>
          </div>
      </div>
      <hr style="margin: 40px 0px;border-color: #727878;opacity: 0.2;">
      <h3 style="text-align: center; color:#6b879f;">Certifications</h3>
      <div class="certifications">               
          <div class="certification row">
              <div class="col-md-12">
                  <h4>UI Path Foundation Training Certified</h4>
                  <p class="ceritification-period">
                      May 2018
                  </p>
              </div>
          </div>
          <div class="certification row">
                  <div class="col-md-12">
                      <h4>Business English Certificate</h4>
                      <p class="ceritification-period">
                          Aug 2015
                      </p>
                  </div>
          </div>
          <div class="certification row">
                  <div class="col-md-12">
                      <h4>NIIT Java Certified Professional</h4>
                      <p class="ceritification-period">
                          Dec 2016
                      </p>
                  </div>
          </div>
          <div class="certification row">
                  <div class="col-md-12">
                      <h4>Skilled Typewriter - English Lower Level</h4>
                      <p class="ceritification-period">
                          Jun 2009
                      </p>
                  </div>
          </div>
      </div>
</div>
<div id="abilities" class="container">
      <h2 style="text-align: center; color:#6b879f;">Abilities</h2>
      <hr>
      <h3 style="text-align: center; color:#6b879f;">Skills</h3>
  <div class="row">
      <div class="col-md-6">
          <ul class="no-bullets">
              <li>
                  <span class="ability-title">Bootstrap</span>
                  <span class="ability-score">             
                      <span class="glyphicon glyphicon-star filled"></span>
                      <span class="glyphicon glyphicon-star filled"></span>           
                      <span class="glyphicon glyphicon-star filled"></span>          
                      <span class="glyphicon glyphicon-star filled"></span> 
                      <span class="glyphicon glyphicon-star"></span>                           
                  </span>
              </li>    
              <li>
                  <span class="ability-title">CSS(3)</span>
                  <span class="ability-score">           
                      <span class="glyphicon glyphicon-star filled"></span>          
                      <span class="glyphicon glyphicon-star filled"></span>              
                      <span class="glyphicon glyphicon-star filled"></span>             
                      <span class="glyphicon glyphicon-star filled"></span>            
                      <span class="glyphicon glyphicon-star filled"></span>                 
                  </span>
              </li>
              <li>
                  <span class="ability-title">HTML(5)</span>
                  <span class="ability-score">                
                      <span class="glyphicon glyphicon-star filled"></span>            
                      <span class="glyphicon glyphicon-star filled"></span>           
                      <span class="glyphicon glyphicon-star filled"></span>
                      <span class="glyphicon glyphicon-star filled"></span>         
                      <span class="glyphicon glyphicon-star filled"></span>                 
                  </span>
              </li>  
              <li>
                  <span class="ability-title">MySQL</span>
                  <span class="ability-score">          
                      <span class="glyphicon glyphicon-star filled"></span>                               
                      <span class="glyphicon glyphicon-star filled"></span>           
                      <span class="glyphicon glyphicon-star filled"></span>            
                      <span class="glyphicon glyphicon-star filled"></span>            
                      <span class="glyphicon glyphicon-star filled"></span>                   
                  </span>
              </li>
              <li>
                  <span class="ability-title">PHP</span>
                  <span class="ability-score">          
                      <span class="glyphicon glyphicon-star filled"></span>          
                      <span class="glyphicon glyphicon-star filled"></span>           
                      <span class="glyphicon glyphicon-star filled"></span>              
                      <span class="glyphicon glyphicon-star filled"></span>           
                      <span class="glyphicon glyphicon-star"></span>              
                  </span>
              </li>
              <li>
                  <span class="ability-title">JQuery</span>
                  <span class="ability-score">       
                      <span class="glyphicon glyphicon-star filled"></span>            
                      <span class="glyphicon glyphicon-star filled"></span>      
                      <span class="glyphicon glyphicon-star filled"></span>          
                      <span class="glyphicon glyphicon-star filled"></span>           
                      <span class="glyphicon glyphicon-star "></span>                
                  </span>
              </li>  
          </ul>
       </div>
      <div class="col-md-6">
          <ul class="no-bullets">
              <li>
                      <span class="ability-title">Javascript</span>
                      <span class="ability-score">         
                          <span class="glyphicon glyphicon-star filled"></span>          
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star filled"></span>          
                          <span class="glyphicon glyphicon-star "></span>          
                      </span>
              </li>
              <li>
                      <span class="ability-title">SASS/SCSS</span>
                      <span class="ability-score">         
                          <span class="glyphicon glyphicon-star filled"></span>      
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star"></span>          
                          <span class="glyphicon glyphicon-star"></span>           
                          <span class="glyphicon glyphicon-star "></span>               
                       </span>
              </li>
              <li>
                      <span class="ability-title">Wordpress</span>
                      <span class="ability-score">         
                          <span class="glyphicon glyphicon-star filled"></span>      
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star filled"></span>          
                          <span class="glyphicon glyphicon-star"></span>           
                          <span class="glyphicon glyphicon-star "></span>               
                       </span>
              </li>
              <li>
                      <span class="ability-title">Drupal</span>
                      <span class="ability-score">         
                          <span class="glyphicon glyphicon-star filled"></span>      
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star filled"></span>          
                          <span class="glyphicon glyphicon-star"></span>           
                          <span class="glyphicon glyphicon-star"></span>               
                       </span>
              </li> 
              <li>
                      <span class="ability-title">Angular4</span>
                      <span class="ability-score">         
                          <span class="glyphicon glyphicon-star filled"></span>      
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star"></span>          
                          <span class="glyphicon glyphicon-star"></span>           
                          <span class="glyphicon glyphicon-star"></span>               
                       </span>
              </li> 
              <li>
                      <span class="ability-title">UI Path Automation</span>
                      <span class="ability-score">         
                          <span class="glyphicon glyphicon-star filled"></span>      
                          <span class="glyphicon glyphicon-star filled"></span>         
                          <span class="glyphicon glyphicon-star filled"></span>          
                          <span class="glyphicon glyphicon-star"></span>           
                          <span class="glyphicon glyphicon-star"></span>               
                       </span>
              </li>  
          </ul>
      </div>
  </div>
  <hr>
  <h3 style="text-align: center; color:#6b879f;">Languages</h3>
  <div class="row" style="margin-bottom: 37px;">
      <div class="col-md-6">
          <ul class="no-bullets">  
              <li>
                  <span class="ability-title">Tamil (Mother tongue)</span>
                  <span class="ability-score">           
                      <span class="glyphicon glyphicon-star filled"></span>        
                      <span class="glyphicon glyphicon-star filled"></span>       
                      <span class="glyphicon glyphicon-star filled"></span>          
                      <span class="glyphicon glyphicon-star filled"></span>       
                      <span class="glyphicon glyphicon-star filled"></span>        
                  </span>
              </li>
              <li>
                      <span class="ability-title">English</span>
                      <span class="ability-score">           
                          <span class="glyphicon glyphicon-star filled"></span>        
                          <span class="glyphicon glyphicon-star filled"></span>       
                          <span class="glyphicon glyphicon-star filled"></span>          
                          <span class="glyphicon glyphicon-star filled"></span>       
                          <span class="glyphicon glyphicon-star filled"></span>        
                      </span>
              </li> 
          </ul>
      </div>
  </div>
</div>
<div class="contact" >
      <div id="contact" class="container4">
          <h2 style="text-align: center;width: 100%;color:#6b879f; padding-top: 20px;" id="con1">Contact</h2>
          <hr style="margin: 40px 0px;border-color: #727878;opacity: 0.2;">
      <div class="row">
          <div class="col-md-6">
              <ul class="no-bullets">
                  <li>
                      <a href="http://linkedin.com/in/sharathkumar-n-887805120/" target="_blank">
                          <span class="icon icon-linkedin"></span>
                          https://linkedin.com/in/sharathkumar-n-887805120/				
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
              <ul class="no-bullets"> 
                  <li>
                      <a href="mailto:natarajsarath95@gmail.com">
                          <span class="icon icon-email"></span>
                          <span style="unicode-bidi:bidi-override;">
                          natarajsarath95@gmail.com					
                          </span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-md-12">
            <ul class="no-bullets">
                <li>
                    <span >
                        <img src="./assets/img/iPhone-512.png" style="width: 32px; background-color: #b4b3b3;border-radius: 4px;"/>
                    </span>
                    <span style="color:#b4b3b3; margin-left: 15px;">
                        +91 9894108756					
                    </span>		  
                </li>
            </ul>
        </div>
      </div>
      <hr style="margin: 40px 0px;border-color: #727878;opacity: 0.2;">
  </div>
  <div class="resume" style="width: 100%;text-align: center;">
    <button  id="resume" style=" background-color: #6b879f;border: 2px solid #6b879f; margin-bottom: 40px;">
        <a href="./assets/img/resume.pdf" download style="color: black;">Download Resume</a>
    </button>
  </div>
  <div class="resume" style="width: 100%;text-align: center;">
    <p style="color:#6b879f;font-size: 23px;"> 	<span>&copy;</span> Copyright Sharathkumar 2018</p>
  </div>
</div>
